.product-cont {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  transition: 0.3s all ease-out;
}
.product-cont:hover {
  transform: scale(1.0283);
}
.prod-items {
  display: flex;
  flex-wrap: wrap;
}
.all-prod {
  font-size: 2.5rem;
  font-weight: 700;
}
.new-prod-btn {
  background-color: var(--black-color);
  color: var(--white-color);
  padding-inline: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 5px;
  margin-right: 2rem;
}
.new-prod-btn:hover {
  background: none;
  color: var(--black-color);
}
@media (max-width: 1346px) {
  .product-cont {
    max-width: 450px;
  }
}
@media (max-width: 1147px) {
  .product-cont {
    max-width: 350px;
  }
}
@media (max-width: 1000px) {
  .product-cont {
    max-width: 300px;
  }
}
@media (max-width: 800px) {
  .product-cont {
    max-width: 450px;
  }
  .prod-items {
    justify-content: center;
  }
  .new-prod-btn {
    margin-right: 0.2rem;
    padding-inline: 0.3rem;
    overflow: hidden;
  }
  .all-prod {
    font-size: 1.5rem;
    margin-right: 0.2rem;
  }
}
