<div class="container service-cont">
  <div class="d-flex justify-content-around align-items-center">
    <div class="free-del text-center">
      <div class="outer-body p-2 mx-auto mb-4">
        <button class="inner-button">
          <img
            src="../../../assets/images/categories/icon-delivery.png"
            alt=""
          />
        </button>
      </div>
      <h3>FREE AND FAST DELIVERY</h3>
      <small>Free delivery for all orders over ₹500</small>
    </div>
    <div class="free-del text-center">
      <div class="outer-body p-2 mx-auto mb-4">
        <button class="inner-button">
          <img
            src="../../../assets/images/categories/Icon-Customer service.png"
            alt=""
          />
        </button>
      </div>
      <h3>24/7 CUSTOMER SERVICE</h3>
      <small>Friendly 24/7 customer support</small>
    </div>
    <div class="free-del text-center">
      <div class="outer-body p-2 mx-auto mb-4">
        <button class="inner-button">
          <img src="../../../assets/images/categories/Icon-secure.png" alt="" />
        </button>
      </div>
      <h3>MONEY BACK GUARANTEE</h3>
      <small>We return money within 30 days</small>
    </div>
  </div>
</div>
