<div class="sidenav">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="pe-4">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-column w-100">
          <li
            class="nav-item d-flex justify-content-between align-items-center gap-5"
          >
            <a class="nav-link active" aria-current="page" routerLink="women"
              >Woman`s Fashion</a
            >
            <span class="list-icon"><i class="bi bi-arrow-right"></i></span>
          </li>
          <li
            class="nav-item d-flex justify-content-between align-items-center gap-5"
          >
            <a class="nav-link active" aria-current="page" href="#"
              >Men`s Fashion</a
            >
            <span class="list-icon"><i class="bi bi-arrow-right"></i></span>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Electronics</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Home & Lifestyle</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Medicine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Sports & Outdoor</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Baby`s & Toys</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Groceries & Pets</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Health & Beauty</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
