<div class="container custom-cont">
  <div class="row w-100 main_cont">
    <div class="col-md-6 img_cont text-end">
      <img
        class="left-cart-img"
        src="https://img.freepik.com/premium-photo/empty-white-smartphone-with-cart-bags-light-background-online-shopping-purchase-concept-mock-up-3d-rendering_670147-5589.jpg"
        alt="slide-image"
      />
    </div>
    <div class="col-md-6 login_form">
      <div class="form-cont">
        <form (ngSubmit)="submit()" [formGroup]="form">
          <h4 class="mb-3">Create Account</h4>
          <p>Enter your details below</p>
          <div class="input-field">
            <input
              type="text"
              id="username"
              placeholder="Username"
              formControlName="username"
            />
            <div
              *ngIf="
                form.get('username')?.invalid && form.get('username')?.touched
              "
            >
              <small
                *ngIf="form.get('username')?.errors?.['required']"
                class="error-field"
                >Username is required.</small
              >
              <small
                *ngIf="form.get('username')?.errors?.['minlength']"
                class="error-field"
                >Username must be at least 3 characters long.</small
              >
            </div>
          </div>

          <div class="input-field">
            <input
              type="email"
              id="email"
              placeholder="Email"
              formControlName="email"
            />
            <div
              *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
            >
              <small
                *ngIf="form.get('email')?.errors?.['required']"
                class="error-field"
                >Email is required.</small
              >
              <small
                *ngIf="form.get('email')?.errors?.['email']"
                class="error-field"
                >Invalid email format.</small
              >
            </div>
          </div>
          <div class="input-field">
            <input
              type="password"
              id="password"
              placeholder="Password"
              formControlName="password"
            />
            <div
              *ngIf="
                form.get('password')?.invalid && form.get('password')?.touched
              "
            >
              <small
                *ngIf="form.get('password')?.errors?.['required']"
                class="error-field"
                >Password is required.</small
              >
              <small
                *ngIf="form.get('password')?.errors?.['minlength']"
                class="error-field"
                >Password must be at least 8 characters long.</small
              >
              <small
                *ngIf="form.get('password')?.errors?.['invalidPassword']"
                class="error-field"
              >
                Password must contain at least one uppercase letter, one number,
                and one special character.
              </small>
            </div>
          </div>
          <div>
            <button class="d-block w-100">Create Account</button>

            <div class="text-center signup">
              Already have an account? <span (click)="loginClk()">Log in</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
