<div class="container">
  <div class="user-name">
    <h4>Welcome! <span>Pratik</span></h4>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="profile-nav">
        <h4>Manage My Account</h4>
        <div class="links">
          <a>My Profile</a>
          <a>Address Book</a>
          <a>My Payment Options</a>
        </div>

        <div>
          <h4>My Orders</h4>
          <div class="links">
            <a>My Returns</a>
            <a>My Cancellations</a>
          </div>
        </div>
        <div>
          <h4>My WishList</h4>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="profile-data">
        <h3 class="pb-2">Edit Your Profile</h3>
        <div class="input-field">
          <div class="w-100">
            <label for="fname">First Name</label>
            <input type="text" id="fname" />
          </div>
          <div class="w-100">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" />
          </div>
        </div>

        <div class="input-field">
          <div class="w-100">
            <label for="email">Email</label>
            <input type="email" id="email" />
          </div>
          <div class="w-100">
            <label for="addr">Address</label>
            <input type="text" id="addr" />
          </div>
        </div>

        <div class="input-field">
          <div class="w-100">
            <label for="password">Password Changes</label>
            <input
              type="password"
              id="password"
              placeholder="Current Password"
            />
            <input type="password" id="password" placeholder="New Password" />
            <input
              type="password"
              id="password"
              placeholder="Confirm New Password"
            />
          </div>
        </div>

        <div class="d-flex justify-content-end pe-3">
          <button class="cancel-btn">Cancel</button>
          <button class="save-btn">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
