<div class="container my-5">
  <div class="row">
    <div class="col-md-3"><app-sidenav></app-sidenav></div>

    <div class="col-md-9">
      <app-right-carousel></app-right-carousel>
    </div>
  </div>
</div>
<app-todays [title]="'Today`s'" [head]="'Flash Sales'"></app-todays>
<app-category></app-category>
<app-selling-products></app-selling-products>
<app-todays
  [title]="'Our Products'"
  [head]="'Explore Our Products'"
></app-todays>
<app-new-arrival></app-new-arrival>
<app-services-cont></app-services-cont>
