<div class="main_foot">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col mb-1">
          <div class="exclusive">
            <h3>Exclusive</h3>
            <h6 class="py-3">Subscribe</h6>
            <p>Get 10% off your first order</p>
            <button class="email-button">
              <div class="my-email">
                <input type="text" placeholder="enter your email" />
              </div>
              <span><i class="bi bi-send send-icon"></i></span>
            </button>
          </div>
        </div>
        <div class="col mb-1">
          <div class="support-section">
            <h6>Support</h6>
            <p>111 Bijoy sarani, Delhi, India.</p>
            <p>exclusive@gmail.com</p>
            <p>+88015-88888-9999</p>
          </div>
        </div>
        <div class="col mb-1">
          <div class="account">
            <h6>Account</h6>
            <a href="#">My Account</a>
            <a href="#">Login / Register</a>
            <a href="#">Cart</a>
            <a href="#">Wishlist</a>
            <a href="#">Shop</a>
          </div>
        </div>
        <div class="col mb-1">
          <div class="quick-link">
            <h6>Quick Link</h6>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms Of Use</a>
            <a href="#">FAQ</a>
            <a href="#">Contact</a>
          </div>
        </div>
        <div class="col mb-1">
          <div class="download-section">
            <h6>Download App</h6>
            <small>Save $3 with App New User Only</small>
            <div class="download-images">
              <img
                src="https://community.adobe.com/t5/image/serverpage/image-id/442804iB1826ABA5C5080FE?v=v2"
                class="qr-code"
                alt="qr code"
              />
              <div class="d-flex flex-column justify-content-between">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png"
                  class="google-play"
                  alt="google-play"
                />
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/2560px-Download_on_the_App_Store_Badge.svg.png"
                  class="app-store"
                  alt="appstore"
                />
              </div>
            </div>
            <div class="social-icons">
              <i class="bi bi-facebook"></i>
              <i class="bi bi-twitter"></i>
              <i class="bi bi-instagram"></i>
              <i class="bi bi-linkedin"></i>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </footer>
  <div class="copyright">
    <p>&copy; Copyright Rimel 2025. All right reserved</p>
  </div>
</div>
