form {
  margin-block: 2rem;
}

label {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 0.3rem;
}
input[type="text"],
input[type="email"] {
  border: none;
  background-color: var(--secondary-color);
  width: 100%;
  max-width: 470px;
  outline: none;
  padding: 0.5rem 1rem;
}
.input-field {
  margin-bottom: 1rem;
}
.checkbox {
  font-size: 0.8rem;
  font-weight: 500;
}
.subtotal {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--black-color);
}
.product-button button {
  background-color: var(--button-color);
  border: none;
  padding: 0.8rem 1.5rem;
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.product-button button:hover {
  background-color: var(--button-hover-color);
}
.coupon-btn input {
  margin-right: 1rem;
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
  max-width: 300px;
  border-radius: 5px;
}
.right-cont {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  max-width: 425px;
  margin-top: 3rem;
}
.paymenth-method {
  cursor: pointer;
}
